.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

html {
  font-size: 62.5%;
}

.btn {
  background-color: #4baf47;
  padding: 2.5rem 5rem;
  border-radius: 15px;
  outline: none;
}

@keyframes changeWidth {
  from {
    opacity: 0;
    width: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
    display: block;
  }
}
@keyframes changeHeightList {
  from {
    height: 0;
  }
  to {
    height: max-content;
  }
}
.header__line {
  background: linear-gradient(132deg, rgb(75, 175, 71) 30%, rgb(197, 206, 56) 30%, rgb(202, 204, 58) 70%, rgb(225, 196, 64) 70%, rgb(238, 192, 68) 70%);
  width: 100%;
  height: 3px;
}
.header__info {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
.header__info__list {
  display: flex;
  align-items: center;
}
.header__info__item {
  border-radius: 50%;
  background-color: #f8f7f0;
  padding: 1.5rem;
  margin: 1rem;
}
.header__info__link {
  font-size: 1.6rem;
  height: 1.6rem;
  color: black;
  display: inline-block;
}
.header__info__uses {
  display: flex;
  align-items: center;
}
.header__info__number {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
}
.header__info__number:nth-child(2) {
  border-left: 1px solid #b4b4b0;
  border-right: 1px solid #b4b4b0;
}
.header__info__number:nth-child(3) {
  padding-right: 0;
}
.header__info__icon {
  font-size: 3rem;
  margin-right: 2rem;
  color: #4baf47;
}
.header__info__desc {
  font-size: 1.2rem;
  color: #b4b4b0;
}
.header__info__text {
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 1rem;
}
.header__logo {
  margin-right: 3.5rem;
}
.header__logo a {
  height: 6rem;
  display: inline-block;
}
.header__logo a img {
  height: 100%;
  width: 100%;
}
.header__nav {
  background-color: #f8f7f0;
  padding: 2rem 0;
}
.header__nav__menu {
  font-size: 2rem;
  display: none;
}
.header__nav__menu--focus {
  display: inline-block;
}
.header__nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav__list {
  display: flex;
  align-items: center;
}
.header__nav__list--focus {
  display: none;
}
.header__nav__item {
  margin-right: 5.5rem;
}
.header__nav__item:last-child {
  margin: 0;
}
.header__nav__link {
  font-size: 1.6rem;
  color: #b4b4b0;
  font-weight: 600;
  transition: 0.3s linear;
}
.header__nav__link:hover {
  color: black;
  text-shadow: 0 0 1px black;
}
.header__find {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header__find__icon [class*=fa] {
  font-size: 2rem;
  margin-right: 1rem;
}
.header__find__search {
  margin-left: 3rem;
}
.header__find__buy {
  margin-left: 3rem;
}
.header__find__icon {
  display: flex;
  align-items: center;
}
.header__search {
  width: 1px;
  overflow: hidden;
  transition: 0.3s linear;
}
.header__search__focus {
  width: 32rem;
}
.header__search__input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #b4b4b0;
  font-size: 1.6rem;
}
.header__search__input::placeholder {
  color: #b4b4b0;
  font-weight: 500;
  font-size: 1.6rem;
}

.banner {
  color: #FFF;
  background-color: #000000;
  background-image: url(../image/banner/farmer-work-rice-field.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.banner__container {
  position: relative;
}
.banner__desc {
  padding: 16rem 0 2rem;
  font-size: 1.6rem;
}
.banner__title {
  font-size: 12rem;
}
.banner__text {
  font-size: 1.6rem;
  color: #b4b4b0;
  margin-bottom: 4.5rem;
}
.banner__btn {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 18rem;
}
.banner__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: translateY(-6rem);
  z-index: 2;
}
.banner__item {
  padding: 5rem 8rem 6rem;
  background-color: #fff;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 5px 3px 15px 0 #b4b4b0;
  text-align: center;
}
.banner__feature__desc {
  color: #dcb346;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
}
.banner__feature__title {
  font-size: 2.4em;
  color: black;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
}
.banner__feature__icon {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .header__container {
    max-width: 100%;
  }
  .header__info {
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .header__info__uses {
    display: none;
  }
  .header__nav__list {
    animation: changeWidth 0.4s linear;
  }
  .header__nav__item {
    margin-right: 4.5rem;
  }
  .header__nav__menu {
    display: none;
  }
  .header__nav__menu--focus {
    display: inline-block;
  }
}
@media (max-width: 1100px) {
  .header__info__uses {
    display: none;
  }
  .header__nav {
    position: relative;
  }
  .header__nav__list {
    display: none;
    animation: changeHeightList 1s linear;
  }
  .header__nav__list--show {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 2px);
    background-color: #f8f7f0;
  }
  .header__nav__item {
    border-bottom: 1px solid #b4b4b0;
    margin: 0;
  }
  .header__nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem 0 1rem 1.5rem;
  }
}
@media (max-width: 900px) {
  .header__container {
    max-width: 100%;
  }
  .header__info {
    justify-content: space-between;
    padding: 2rem;
  }
  .header__info__uses {
    display: none;
  }
  .header__nav {
    position: relative;
  }
  .header__nav__list {
    display: none;
    animation: changeHeightList 1s linear;
  }
  .header__nav__list--show {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 2px);
    background-color: #f8f7f0;
  }
  .header__nav__item {
    border-bottom: 1px solid #b4b4b0;
    margin: 0;
  }
  .header__nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem 0 1rem 1.5rem;
  }
  .header__nav__menu {
    display: inline-block;
  }
  .header__search {
    margin-left: 2rem;
  }
  .header__search__focus {
    width: 100%;
  }
  .header__search__input {
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .header__container {
    max-width: 100%;
  }
  .header__info {
    justify-content: center;
    padding: 1.5rem;
  }
  .header__info__uses {
    display: none;
  }
  .header__info__list {
    display: none;
  }
  .header__nav__list {
    display: none;
  }
  .header__nav__list--show {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 2px);
    background-color: #f8f7f0;
  }
  .header__nav__menu {
    display: inline-block;
    font-size: 1.6rem;
  }
  .header__search {
    margin-left: 2rem;
  }
  .header__search--focus {
    width: 100%;
  }
  .header__search__input {
    border-radius: 0px;
    padding: 1rem;
  }
  .header__find__icon [class*=fa] {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .header__nav__menu {
    font-size: 1.4rem;
  }
  .header__find__search {
    margin-left: 1.5rem;
  }
  .header__find__search [class*=fa] {
    font-size: 1.4rem;
  }
  .header__find__buy {
    margin-left: 1.5rem;
  }
  .header__find__buy [class*=fa] {
    font-size: 1.4rem;
  }
  .header__search__input {
    padding: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
