.banner {
    color:#FFF;
    background-color: #000000;
    background-image: url(../image/banner/farmer-work-rice-field.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    &::after {
        @include after;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }
    &__container {
    position: relative;

    }
    &__desc{ 
        padding: 16rem 0 2rem;
        font-size: 1.6rem;
    }
    &__title {
        font-size: 12rem;
    }
    &__text {
        font-size: 1.6rem;
        color:$textColor;
        margin-bottom: 4.5rem;
    }
    &__btn {
        font-size: 1.6rem;
        color:#fff;
        margin-bottom: 18rem;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:6rem    ;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        transform: translateY(-6rem );
        z-index: 2;
       
    }
    &__item {
        padding: 5rem 8rem 6rem;
        background-color: #fff;
        position: relative;
        border-radius:1.5rem;
        box-shadow:5px 3px 15px 0 $textColor;
        text-align: center;
    }
    &__feature{
        &__desc {
            color:$titleColor;
            font-size: 2.4rem;
            display: flex;
            justify-content: center;
        }
        &__title {
            font-size: 2.4em;
            color:black;
            font-weight: 700;
            text-align: center;
            display: flex;
            justify-content: center;
        }
        &__icon {
            width: 9rem;
            height: 9rem;
            border-radius:1rem;
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%,-50%);
        }
    }
}